* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --app-color: rgba(255, 255, 255, 0.87);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--app-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
}

.panes {
  display: flex;
  gap: 20px;
  height: 100vh;
}

.pane {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 100%;
}

.content-box {
  padding: 10px;
  overflow-x: scroll;
  background-color: field;
}

.content {
  white-space: pre-wrap;
  min-height: 176px;
  margin: 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input:focus {
  outline: none;
}

.form-item.has-error .form-label {
  color: #f00;
}

.form-item.has-error .form-input {
  border: 1px solid #f00;
}

.error-message {
  color: #f00;
  margin: 0;
}

.rule-options {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 8px;
}

.control-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 8px;
}
